config/*
lib/perl5/auto
lib/perl5/Bio
lib/perl5/Capture
lib/perl5/Class
lib/perl5/Config
lib/perl5/Data
lib/perl5/Devel
lib/perl5/Email
lib/perl5/ExtUtils
lib/perl5/File
lib/perl5/Method
lib/perl5/MIME
lib/perl5/Module
lib/perl5/MojoX
lib/perl5/Moo
lib/perl5/Moo.pm
lib/perl5/MooX
lib/perl5/MRO
lib/perl5/Net
lib/perl5/oo.pm
lib/perl5/Role
lib/perl5/StackTrace
lib/perl5/Sub
lib/perl5/Test
lib/perl5/Throwable
lib/perl5/Throwable.pm
lib/perl5/Try
lib/perl5/x86_64-linux-thread-multi
lib/perl5/GD
lib/perl5/perl5

t/M00123-18-001-test/SneakerNet/
t/M00123-18-001-test/readMetrics.tsv
t/M00123-18-001-test/samples.tsv

t/M00123-18-001-test/contaminated_1.fastq.gz
t/M00123-18-001-test/contaminated_2.fastq.gz
t/kraken-database

db/*
db/fasta/*

bin/bdf2gdfont.pl

man
archive

# Added on from other gitignore
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip


